body {
  font-family: "Muli", sans-serif;
  margin: 0px;
  background-color: #21c08b;
}
header {
  background-color: #21c08b;
  width: 100%;
  height: 80px;
  display: flex; /*alinear uno al lado del otro*/
  justify-content: space-between;
}
.header__img {
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
}
.header__menu {
  margin-right: 30px;
}
.header__menu--profile {
  margin: 22px 8px 0px 0px;
  display: flex;
}
.header__menu--profile p {
  color: aliceblue;
}
.header__menu ul {
  display: none;
  list-style: none;
  padding: 0px;
  position: absolute;
  width: 100px;
  text-align: right;
  margin: 0px 0px 0px -14px; /*manesillas del reloj*/
}
.header__menu:hover ul,
ul:hover {
  display: block;
}
.header__menu li {
  margin: 10px 0px; /*top/boton y right/left*/
}
.header__menu li a {
  color: aliceblue;
  text-decoration: none;
}
