body {
  font-family: "Muli", sans-serif;
  margin: 0px;
}
header {
  background-color: #21c08b;
  width: 100%;
  height: 80px;
  display: flex; /*alinear uno al lado del otro*/
  justify-content: space-between;
}
.header__img {
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
}
.header__menu {
  margin-right: 30px;
}
.header__menu--profile {
  margin: 22px 8px 0px 0px;
  display: flex;
}
.header__menu--profile p {
  color: aliceblue;
}
.header__menu ul {
  display: none;
  list-style: none;
  padding: 0px;
  position: absolute;
  width: 100px;
  text-align: right;
  margin: 0px 0px 0px -14px; /*manesillas del reloj*/
}
.header__menu:hover ul,
ul:hover {
  display: block;
}
.header__menu li {
  margin: 10px 0px; /*top/boton y right/left*/
}
.header__menu li a {
  color: aliceblue;
  text-decoration: none;
}
.login {
  background: linear-gradient(#21c08b, #219bc0);
  display: flex;
  align-items: center; /*alinear vertical*/
  justify-content: center; /*alinear horizontal*/
  flex-direction: column;
  padding: 0px 30px;
  min-height: calc(100vh - 200px);
}
.login__container {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid white;
  border-radius: 30px;
  color: aliceblue;
  padding: 60px 68px 40px;
  min-height: 700px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.login__container--form {
  display: flex;
  flex-direction: column;
}
.input {
  background: rgba(255, 255, 255, 0);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px solid white;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 0px 5px;
  height: 30px;
  outline: none;
}
::placeholder {
  color: aliceblue;
}
.button {
  background: rgba(255, 255, 255, 0.3);
  color: aliceblue;
  border: 2px solid white;
  border-radius: 25px;
  padding: 15px 0px;
  font-family: "Muli", sans-serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 10px 0px 30px 0px;
  cursor: pointer;
}
.login__container--form label {
  font-size: 14px;
}
.login__container--recuerdame {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.login__container--recuerdame a {
  color: aliceblue;
  font-size: 14px;
  text-decoration: none;
}
.login__container--recuerdame a:hover {
  text-decoration: underline;
}
.login__container--socialmedia > div {
  /*> significa todos los div dentro*/
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.login__container--socialmedia > div > img {
  width: 30px;
  margin-right: 10px;
}
.google {
  background-color: tomato;
  border-radius: 25px;
  padding: 10px 10px;
}
.twitter {
  background-color: rgb(64, 173, 224);
  border-radius: 25px;
  padding: 10px 10px;
}
.login__container--register {
  font-size: 14px;
  display: flex;
  justify-content: center;
}
.login__container--register a {
  padding-left: 5px;
  color: aliceblue;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
.login__container--register a:hover {
  text-decoration: underline;
}
.footer {
  background-color: #219bc0;
  display: flex;
  align-items: center;
  height: 100px;
}
.footer > a {
  color: aliceblue;
  font-size: 14px;
  text-decoration: none;
  padding-left: 30px;
}
.footer a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .login__container {
    background-color: transparent;
    border: none;
    padding: 0px;
    width: 100%;
  }
  .footer {
    align-items: flex-start;
    flex-direction: column;
  }
}
